<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

        <!-- JQuery Library -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <!-- Template used by js/script.js -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Track Hub Converter</title>
</head>
<body style = "background-color: white" >

<nav style = "background-color: black" class="navbar navbar-expand-xl navbar-dark">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="https://www.bioviz.org/index.html">BioViz</a>
        </div>
        <hr>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="https://www.bioviz.org/#" data-toggle="dropdown" class="dropdown-toggle cursorpointer">About<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="cursorpointer">
                            <a href="https://www.bioviz.org/overview.html">Overview</a>
                        </li>
                        <li class="cursorpointer">
                            <a href="https://wiki.transvar.org/display/igbman/Home" target="_blank">User's Guide</a>
                        </li>
                        <li class="cursorpointer">
                            <a href="https://www.bioviz.org/news.html">IGB news</a>
                        </li>
                        <li class="cursorpointer">
                            <a href="https://www.bioviz.org/cite.html">How to cite IGB</a>
                        </li>
                        <li class="cursorpointer">
                            <a href="https://www.bioviz.org/credits.html">Credits</a>
                        </li>
                    </ul>
                </li>
                <li class="cursorpointer">
                    <a href="https://www.bioviz.org/help.html">Help</a>
                </li>
                <li class="dropdown">
                    <a href="https://www.bioviz.org/#" data-toggle="dropdown" class="dropdown-toggle cursorpointer">Developers<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="cursorpointer">
                            <a href="http://bitbucket.org/lorainelab/integrated-genome-browser">IGB git repository on Bitbucket</a>
                        </li>
                        <li class="cursorpointer">
                            <a href="https://jira.transvar.org/secure/RapidBoard.jspa?rapidView=11">IGB Jira Board</a>
                        </li>
                        <li class="cursorpointer">
                            <a href="https://canvas.instructure.com/courses/1164217">On-line class: Open source programming with IGB</a>
                        </li>
                        <li class="cursorpointer">
                            <a href="https://bitbucket.org/lorainelab/genoviz-sdk">GenoViz SDK git repository on Bitbucket</a>
                        </li>
                        <li class="cursorpointer">
                            <a href="https://www.bioviz.org/genovizJavadoc/releases/current">GenoViz SDK Javadocs</a>
                        </li>
                        <li class="cursorpointer">
                            <a href="https://wiki.transvar.org/display/igbdevelopers/Home">Developer's Guide</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://www.bioviz.org/genome-dashboard">
                        <font size=+1 color="lightblue"><b>IGB Genomes</b></font>
                    </a>
                </li>
                <li>
                    <a href="https://apps.bioviz.org">
                        <font size=+1 color="lightblue"><b>Apps for IGB</b></font>
                    </a>
                </li>
                <li class="last">
                    <a href="https://www.bioviz.org/connect.html">
                        <font size=+1 color="lightblue"><b>BioViz <em>Connect</em></b></font>
                    </a>
                </li>
            </ul>
            <!-- <div class="navbar-form btn-group">
                      <a class="btn btn-primary" href="https://www.bioviz.org/support.html"><strong>Write a support letter</strong> <i class="fa fa-envelope" style="margin-left: 8px"></i></a>
                  </div-->
            <div class="navbar-form navbar-right btn-group">
                <a type="button" class="btn btn-custom btn-warning" href="https://www.bioviz.org/download.html">
                    Install IGB &nbsp;&nbsp;
                    <i class="fa fa-download"></i>
                </a>
            </div>
        </div>
    </div>

    <script>
        // Hide install button when on download page
        if (document.URL.split('/').splice(-1) == "download.html") {
            $('.navbar .btn-group').hide();
        } else {
            $('.navbar .btn-group').show();
        }
    </script>
</nav>

    <script>
        // Hide install button when on download page
        if (document.URL.split('/').splice(-1) == "download.html") {
            $('.navbar .btn-group').hide();
        } else {
            $('.navbar .btn-group').show();
        }
    </script>
    </nav>

    <!--A bit of a patchwork centering work, we can jazz it up later. This is just for now.-->
    <h1><center>Return link page:</center></h1>

    <p><center>Your link is successful.</center></p>
    <p><center> Your link is: {{newlink}}</center></p>
</body>
</html>